## pandas 기초

- pandas는 R의 핵심 데이터 시리즈와 프레임을 파이썬에 추가한 것이다.
- numpy를 기반으로 구현되었고, numpy 대비 기능을 더 확장하여 재구현한 것
- Python Data Analysis Library
> https://pandas.pydata.org/

In [1]:
import numpy as np
import pandas as pd

- 파이썬의 자료구조
> 수치형, 문자열, 리스트, 딕셔너리, 튜플, 집합, boolean
- numpy의 자료구조
> ndarray(배열) : 배열의 데이터는 모두 같은 타입이다.
- pandas의 자료구조
> Series(시리즈), DataFrame(데이터프레임)  
> - Series : 인덱스와 데이터만 존재하는, 컬럼이 없는 자료구조  
> - DataFrame : 인덱스와 컬럼이 존재하는 자료구조  
> DataFrame 인덱싱 → Series 인덱싱 → 값(스칼라), 수치, 문자, boolean, Nan 등   
> Nan(Not a Number → np.nan) : 데이터가 없다.

In [2]:
# Series
# 데이터를 정수로 넣었으나 기본형으로 float64가 반영되었다
a = pd.Series([1, 3, 5, np.nan, 6, 8])   # 생성자
a

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# 속성-타입
a.dtype

dtype('float64')

In [4]:
# 속성-크기
a.shape
# (6,) -> 1차원 데이터로 총 6개의 데이터가 존재

(6,)

In [5]:
# DataFrame : 인덱스와 컬럼이 존재하는 자료구조
cols = list('ABCD')
indexs = pd.date_range('20190812', periods=7)
# 컬럼 4개, 인덱스 7개
cols, indexs

(['A', 'B', 'C', 'D'],
 DatetimeIndex(['2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
                '2019-08-16', '2019-08-17', '2019-08-18'],
               dtype='datetime64[ns]', freq='D'))

In [6]:
# 데이터 shape -> (7, 4)
datas = np.random.randn(7, 4)
datas, datas.shape

(array([[-0.73807362,  0.04125938, -0.03432513,  0.55582304],
        [-0.7271045 ,  1.1951126 , -1.53414269,  0.38141849],
        [-1.25401352, -1.87575827, -1.66766689,  0.8938109 ],
        [ 0.15196665,  0.99477629, -1.4545461 , -0.58241818],
        [ 1.13233032, -0.07827529,  1.75518303, -0.52713092],
        [ 2.639514  ,  1.03953649, -0.45582803, -0.19097983],
        [ 0.43299127, -1.59541835,  0.73387422,  0.23716492]]), (7, 4))

In [7]:
# df 생성
df = pd.DataFrame(datas, index = indexs, columns = cols)  # 생성자
df

                   A         B         C         D
2019-08-12 -0.738074  0.041259 -0.034325  0.555823
2019-08-13 -0.727105  1.195113 -1.534143  0.381418
2019-08-14 -1.254014 -1.875758 -1.667667  0.893811
2019-08-15  0.151967  0.994776 -1.454546 -0.582418
2019-08-16  1.132330 -0.078275  1.755183 -0.527131
2019-08-17  2.639514  1.039536 -0.455828 -0.190980
2019-08-18  0.432991 -1.595418  0.733874  0.237165

In [8]:
# 상위 5개
df.head()

                   A         B         C         D
2019-08-12 -0.738074  0.041259 -0.034325  0.555823
2019-08-13 -0.727105  1.195113 -1.534143  0.381418
2019-08-14 -1.254014 -1.875758 -1.667667  0.893811
2019-08-15  0.151967  0.994776 -1.454546 -0.582418
2019-08-16  1.132330 -0.078275  1.755183 -0.527131

In [9]:
# 하위 2개
df.tail(2)

                   A         B         C         D
2019-08-17  2.639514  1.039536 -0.455828 -0.190980
2019-08-18  0.432991 -1.595418  0.733874  0.237165

In [10]:
df.index

DatetimeIndex(['2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15',
               '2019-08-16', '2019-08-17', '2019-08-18'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.values

array([[-0.73807362,  0.04125938, -0.03432513,  0.55582304],
       [-0.7271045 ,  1.1951126 , -1.53414269,  0.38141849],
       [-1.25401352, -1.87575827, -1.66766689,  0.8938109 ],
       [ 0.15196665,  0.99477629, -1.4545461 , -0.58241818],
       [ 1.13233032, -0.07827529,  1.75518303, -0.52713092],
       [ 2.639514  ,  1.03953649, -0.45582803, -0.19097983],
       [ 0.43299127, -1.59541835,  0.73387422,  0.23716492]])

In [13]:
type(df.values)   # numpy.ndarray

numpy.ndarray

In [14]:
df.shape

(7, 4)

In [15]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [16]:
# df의 개요
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7 entries, 2019-08-12 to 2019-08-18
Freq: D
Data columns (total 4 columns):
A    7 non-null float64
B    7 non-null float64
C    7 non-null float64
D    7 non-null float64
dtypes: float64(4)
memory usage: 280.0 bytes

In [17]:
# 통계요약 : 개수, 평균, 표준편차, 최소, 25%, 50%, 75%, 최대
df.describe()

              A         B         C         D
count  7.000000  7.000000  7.000000  7.000000
mean   0.233944 -0.039824 -0.379636  0.109670
std    1.336828  1.262211  1.295489  0.559602
min   -1.254014 -1.875758 -1.667667 -0.582418
25%   -0.732589 -0.836847 -1.494344 -0.359055
50%    0.151967  0.041259 -0.455828  0.237165
75%    0.782661  1.017156  0.349775  0.468621
max    2.639514  1.195113  1.755183  0.893811

In [18]:
# B열 기준 데이터를 정렬, 내림차순
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2019-08-13 -0.727105  1.195113 -1.534143  0.381418
2019-08-17  2.639514  1.039536 -0.455828 -0.190980
2019-08-15  0.151967  0.994776 -1.454546 -0.582418
2019-08-12 -0.738074  0.041259 -0.034325  0.555823
2019-08-16  1.132330 -0.078275  1.755183 -0.527131
2019-08-18  0.432991 -1.595418  0.733874  0.237165
2019-08-14 -1.254014 -1.875758 -1.667667  0.893811

In [19]:
# 특정 컬럼의 데이터만 보기 -> 인덱싱 -> 차원 축소
df['C'], type(df['C'])   # DataFrame을 인덱싱하면 Series

(2019-08-12   -0.034325
 2019-08-13   -1.534143
 2019-08-14   -1.667667
 2019-08-15   -1.454546
 2019-08-16    1.755183
 2019-08-17   -0.455828
 2019-08-18    0.733874
 Freq: D, Name: C, dtype: float64, pandas.core.series.Series)

In [20]:
# 데이터가 슬라이싱되어 나온다 -> 차원을 유지해야 하니까
# a <= x < b
df[1:3]

                   A         B         C         D
2019-08-13 -0.727105  1.195113 -1.534143  0.381418
2019-08-14 -1.254014 -1.875758 -1.667667  0.893811

In [21]:
# 슬라이싱을 하는데 인덱스값이 아닌 실제값으로 자르기
# a <= x <= b
df['2019-08-13':'2019-08-15']

                   A         B         C         D
2019-08-13 -0.727105  1.195113 -1.534143  0.381418
2019-08-14 -1.254014 -1.875758 -1.667667  0.893811
2019-08-15  0.151967  0.994776 -1.454546 -0.582418

### loc

- 전통적인 인덱싱과 슬라이싱을 진행하면 표현의 한계점에 도달
- 이를 극복하기 위해서 pandas만의 데이터 추출법이 추가되었다.
- loc, iloc ← 2개를 주로 사용한다
- 연속 데이터 추출 ↔ 비연속 데이터 추출(펜시인덱싱, 쿼리수행 등)

In [22]:
# loc : location 정보를 옵션으로 하여 슬라이싱 지원
# loc을 통한 데이터 추출
# df.loc[ 인덱스명 ]   // ()가 아닌 []임에 주의!!
df.loc['2019-08-12'], type(df.loc['2019-08-12'])

(A   -0.738074
 B    0.041259
 C   -0.034325
 D    0.555823
 Name: 2019-08-12 00:00:00, dtype: float64, pandas.core.series.Series)

In [23]:
# 원본 copy
df[:]

                   A         B         C         D
2019-08-12 -0.738074  0.041259 -0.034325  0.555823
2019-08-13 -0.727105  1.195113 -1.534143  0.381418
2019-08-14 -1.254014 -1.875758 -1.667667  0.893811
2019-08-15  0.151967  0.994776 -1.454546 -0.582418
2019-08-16  1.132330 -0.078275  1.755183 -0.527131
2019-08-17  2.639514  1.039536 -0.455828 -0.190980
2019-08-18  0.432991 -1.595418  0.733874  0.237165

In [24]:
# 인덱스는 전부 포함시키고(1차원), 컬럼은 A, C만 포함(2차원)
df.loc[:, ['A', 'C']]

                   A         C
2019-08-12 -0.738074 -0.034325
2019-08-13 -0.727105 -1.534143
2019-08-14 -1.254014 -1.667667
2019-08-15  0.151967 -1.454546
2019-08-16  1.132330  1.755183
2019-08-17  2.639514 -0.455828
2019-08-18  0.432991  0.733874

In [25]:
# 차원을 축소하고 싶다면
df.loc[:, 'A']

2019-08-12   -0.738074
2019-08-13   -0.727105
2019-08-14   -1.254014
2019-08-15    0.151967
2019-08-16    1.132330
2019-08-17    2.639514
2019-08-18    0.432991
Freq: D, Name: A, dtype: float64

In [26]:
type(df.loc[ : , 'A'])

pandas.core.series.Series

In [27]:
# 차원을 유지하고 싶다면
df.loc[:, ['A']]

                   A
2019-08-12 -0.738074
2019-08-13 -0.727105
2019-08-14 -1.254014
2019-08-15  0.151967
2019-08-16  1.132330
2019-08-17  2.639514
2019-08-18  0.432991

In [28]:
type(df.loc[ : , ['A']])

pandas.core.frame.DataFrame

In [29]:
df.loc['2019-08-13' :'2019-08-15' , ['A', 'C'] ]

                   A         C
2019-08-13 -0.727105 -1.534143
2019-08-14 -1.254014 -1.667667
2019-08-15  0.151967 -1.454546

In [30]:
# 차원 축소 -> 인덱스를 한 개만 지정
df.loc['2019-08-13' , ['A', 'C'] ]

A   -0.727105
C   -1.534143
Name: 2019-08-13 00:00:00, dtype: float64

In [31]:
# error : 인덱스에 [] 하면 에러 발생
# df.loc[['2019-08-13'] , ['A', 'C'] ]
# df.loc[['2019-08-13' : '2019-08-13'] , ['A', 'C'] ]

In [32]:
df.loc['2019-08-13' :'2019-08-13' , ['A', 'C'] ]

                   A         C
2019-08-13 -0.727105 -1.534143

In [33]:
# 차원축소가 2회 진행 -> 스칼라(값)
df.loc['2019-08-13', 'A']

-0.7271045000639044

### iloc

- 펜시인덱싱과 유사
- 행과 열의 번호를 이용하여 데이터에 접근하는 방식
- i → index

In [34]:
# 인덱스 값이 1인 데이터
df.iloc[1]

A   -0.727105
B    1.195113
C   -1.534143
D    0.381418
Name: 2019-08-13 00:00:00, dtype: float64

In [35]:
# iloc 슬라이싱
# 경계값 미포함
# a <= index < b, c <= column < d
df.iloc[ 1:3 , 1:3 ]

                   B         C
2019-08-13  1.195113 -1.534143
2019-08-14 -1.875758 -1.667667

In [36]:
# iloc + 펜시인덱싱 기법 사용 (인덱스, 컬럼을 비연속적 위치를 나열)
df.iloc[[1, 4, 2], [0, 2]]

                   A         C
2019-08-13 -0.727105 -1.534143
2019-08-16  1.132330  1.755183
2019-08-14 -1.254014 -1.667667

In [37]:
# 특정 조건에 만족하는 데이터만 추출
# 데이터프레임이 생성되면 컬럼명은 멤버 변수로 자동생성된다
# 조건을 부여하여 boolean 데이터를 만들어 참만 포함시키는 방식 : boolean 인덱싱
# ex) [ T, F, F, F, T, T, T ] 데이터를 and하면 참만 살아남아서 아래와 같은 결과를 발생
# df에 식을 치면 -> 전체 구성원에 전부 다 연산이 진행된다
# 행렬 (연산) 값 -> 각 구성원에 일일이 다 연산하는 것과 동일

In [38]:
# C 컬럼에 존재하는 데이터 중에 양수만 (양수면 True, 0 이하면 False)
df[df.C > 0]

                   A         B         C         D
2019-08-16  1.132330 -0.078275  1.755183 -0.527131
2019-08-18  0.432991 -1.595418  0.733874  0.237165

In [39]:
# 데이터 전체를 기준으로 0보다 큰가?
# 0보다 같거나 작은 데이터들은 NaN으로 대체된다.
df[df > 0]

                   A         B         C         D
2019-08-12       NaN  0.041259       NaN  0.555823
2019-08-13       NaN  1.195113       NaN  0.381418
2019-08-14       NaN       NaN       NaN  0.893811
2019-08-15  0.151967  0.994776       NaN       NaN
2019-08-16  1.132330       NaN  1.755183       NaN
2019-08-17  2.639514  1.039536       NaN       NaN
2019-08-18  0.432991       NaN  0.733874  0.237165

In [40]:
# 복사(2가지)
df[:], df.copy()

(                   A         B         C         D
 2019-08-12 -0.738074  0.041259 -0.034325  0.555823
 2019-08-13 -0.727105  1.195113 -1.534143  0.381418
 2019-08-14 -1.254014 -1.875758 -1.667667  0.893811
 2019-08-15  0.151967  0.994776 -1.454546 -0.582418
 2019-08-16  1.132330 -0.078275  1.755183 -0.527131
 2019-08-17  2.639514  1.039536 -0.455828 -0.190980
 2019-08-18  0.432991 -1.595418  0.733874  0.237165,
                    A         B         C         D
 2019-08-12 -0.738074  0.041259 -0.034325  0.555823
 2019-08-13 -0.727105  1.195113 -1.534143  0.381418
 2019-08-14 -1.254014 -1.875758 -1.667667  0.893811
 2019-08-15  0.151967  0.994776 -1.454546 -0.582418
 2019-08-16  1.132330 -0.078275  1.755183 -0.527131
 2019-08-17  2.639514  1.039536 -0.455828 -0.190980
 2019-08-18  0.432991 -1.595418  0.733874  0.237165)

In [41]:
# 기존 데이터 df에 새로운 컬럼을 추가한다(아주 중요) -> 파생변수
# 기존 df의 1차원과 동수의 데이터가 존재해야 한다
# 데이터는 리스트 ok, Series도 ok
new_data = ['one', 'one', 'two', 'three', 'four', 'three', 'five']
# 데이터 추가
# 대상[컬럼] = 데이터
df['E'] = new_data
df

                   A         B         C         D      E
2019-08-12 -0.738074  0.041259 -0.034325  0.555823    one
2019-08-13 -0.727105  1.195113 -1.534143  0.381418    one
2019-08-14 -1.254014 -1.875758 -1.667667  0.893811    two
2019-08-15  0.151967  0.994776 -1.454546 -0.582418  three
2019-08-16  1.132330 -0.078275  1.755183 -0.527131   four
2019-08-17  2.639514  1.039536 -0.455828 -0.190980  three
2019-08-18  0.432991 -1.595418  0.733874  0.237165   five

In [42]:
# 데이터 조사
# 안에 해당 값이 있는가?
df['E'].isin(['two', 'four'])

2019-08-12    False
2019-08-13    False
2019-08-14     True
2019-08-15    False
2019-08-16     True
2019-08-17    False
2019-08-18    False
Freq: D, Name: E, dtype: bool

In [43]:
# df에서 True인 값만 추출
df[ df['E'].isin(['two', 'four']) ]

                   A         B         C         D     E
2019-08-14 -1.254014 -1.875758 -1.667667  0.893811   two
2019-08-16  1.132330 -0.078275  1.755183 -0.527131  four

In [44]:
# 누적합
# apply(함수를 표현) -> 멤버들을 다 건드린다
df.apply(np.cumsum)

,A,B,C,D,E
2019-08-12,-0.738074,0.041259,-0.034325,0.555823,one
2019-08-13,-1.465178,1.236372,-1.568468,0.937242,oneone
2019-08-14,-2.719192,-0.639386,-3.236135,1.831052,oneonetwo
2019-08-15,-2.567225,0.355390,-4.690681,1.248634,oneonetwothree
2019-08-16,-1.434895,0.277115,-2.935498,0.721503,oneonetwothreefour
2019-08-17,1.204619,1.316651,-3.391326,0.530523,oneonetwothreefourthree
2019-08-18,1.637611,-0.278767,-2.657452,0.767688,oneonetwothreefourthreefive

In [46]:
try :
    # 제거
    df.drop(['E'], inplace = True, axis=1)
except Exception as e :
    pass

In [47]:
df

                   A         B         C         D
2019-08-12 -0.738074  0.041259 -0.034325  0.555823
2019-08-13 -0.727105  1.195113 -1.534143  0.381418
2019-08-14 -1.254014 -1.875758 -1.667667  0.893811
2019-08-15  0.151967  0.994776 -1.454546 -0.582418
2019-08-16  1.132330 -0.078275  1.755183 -0.527131
2019-08-17  2.639514  1.039536 -0.455828 -0.190980
2019-08-18  0.432991 -1.595418  0.733874  0.237165

In [48]:
# 각 컬럼의 최댓값에서 최솟값을 뺀 값 : 거리(distance)
df.apply(lambda x : x.max()-x.min())

A    3.893528
B    3.070871
C    3.422850
D    1.476229
dtype: float64

In [50]:
df.max(), df.min()

(A    2.639514
 B    1.195113
 C    1.755183
 D    0.893811
 dtype: float64, A   -1.254014
 B   -1.875758
 C   -1.667667
 D   -0.582418
 dtype: float64)