## 서울시 기준, 자치구별 CCTV 현황, 인구현황 분석

- 개별 데이터 분석
- 상관성 분석
- pandas 사용법 습득, 시각화 기초

### 1. 데이터 수집(획득) 및 로드

In [1]:
import numpy as np
import pandas as pd

- pandas에서 엑셀(csv) 파일 로드
- 데이터를 부분 확인 후 데이터의 이상여부 간단히 시각적 확인

In [2]:
s_cctv = pd.read_excel('../data/seoul_cctv_state.xlsx', encoding = 'utf-8')

In [3]:
# 전체 확인
s_cctv

        기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0     강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1     강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385
2     강 북 구  1265     243.0   88.0  141.0     74    145    254      1    319
3     강 서 구  1617     219.0  155.0  118.0    230    187    190    264    254
4     관 악 구  3985     430.0   56.0  419.0    487    609    619    694    671
5     광 진 구  1581     470.0   42.0   83.0     87     64     21    468    346
6     구 로 구  3227     852.0  219.0  349.0    187    268    326    540    486
7     금 천 구  1634      27.0   17.0  242.0    101    382    136    199    530
8     노 원 구  1906     481.0  117.0  203.0     80    461    298    110    156
9     도 봉 구   858     197.0   66.0    8.0    185     59    155    117     71
10     동대문구  2003       NaN    NaN    NaN   1326    111    233    136    197
11    동 작 구  1780     238.0   93.0   29.0    503    130    254    278    255
12    마 포 구  1935     585.0  108.0   69.0     70    177    359    372    195
13     서대문구  2121     565.0  233.0  214.0    114    109    277    415    194
14    서 초 구  2835    1172.0   91.0  228.0    134    215    352    247    396
15    성 동 구  2679     665.0  109.0  118.0    101    258    201    933    294
16    성 북 구  3003     779.0   84.0  304.0    241    279    388    285    643
17    송 파 구  1586     600.0   99.0   88.0     21    166    100    116    396
18    양 천 구  2775     772.0  161.0  185.0    169    172    349    137    830
19     영등포구  2495     132.0  121.0  206.0    217    366    289    371    793
20    용 산 구  2063    1279.0  152.0  201.0    107    102     89     60     73
21    은 평 구  2962    1365.0   83.0   99.0    343    180    296    229    367
22    종 로 구  1471       8.0    7.0  599.0    132    195    148    281    101
23  중     구  1544      25.0  165.0  114.0     80    245    270    317    328
24    중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9

In [5]:
# 상위값 확인
# s_cctv.head() : 상위 5개
# s_cctv.head(2) : 상위 2개
s_cctv.head(2)

     기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

In [6]:
# 하위값 확인
# s_cctv.tail() : 하위 5개
# s_cctv.tail(2) : 하위 2개
s_cctv.tail(2)

        기관명    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
23  중     구  1544      25.0  165.0  114.0     80    245    270    317    328
24    중 랑 구  1068       NaN    NaN    NaN    770    102    121     66      9

- 대략적으로 탐색한 결과, 동대문구와 중랑구에 결측치(NaN) 확인

In [7]:
# 탐색
# 컬럼명 확인
s_cctv.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [8]:
# 컬럼명 '2011년 이전' 획득
s_cctv.columns[2]

'2011년 이전'

In [9]:
# 데이터의 차원, 모습 확인
s_cctv.shape

(25, 10)

In [10]:
# 인덱스
s_cctv.index

RangeIndex(start=0, stop=25, step=1)

In [11]:
# '기관명' -> '자치구'로 변경 (의미 명확성 부여 목적)
# => DataFrame의 컬럼명 변경 
# 파라미터 inplace : 원본을 변경할 것인가? True면 원본 변경(원본에 반영)
s_cctv.rename(columns={s_cctv.columns[0] : '자치구'}, inplace = True)
# columns = {} -> 딕셔너리 형태로 주겠다는 의미

In [12]:
s_cctv.head(2)

     자치구    소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221    1944.0  195.0  316.0    430    546    765    577    448
1  강 동 구  1879     303.0  387.0  134.0     59    144    194    273    385

#### 실습
- 변수명 s_pop으로 report.csv를 로드하시오.
- 일단 Report.xls로 read_excel 진행

In [16]:
# 데이터를 보니 컬럼이 3개
# -> 헤더를 2번으로 지정
# 필요없는 데이터는 로드 단계에서 걷어내기 -> 사전에 데이터를 보고 판단
s_pop = pd.read_excel('../data/Report.xls', encoding='euc_kr', header = 2,
                     usecols = 'A, B, D, G, J, P')
s_pop

       기간   자치구         계       계.1     계.2  65세이상고령자
0    2011    합계  10528774  10249679  279095   1049425
1    2011   종로구    177419    168382    9037     22939
2    2011    중구    141567    133193    8374     18099
3    2011   용산구    259288    246501   12787     31837
4    2011   성동구    308767    300711    8056     32767
5    2011   광진구    386673    371936   14737     33613
6    2011  동대문구    378534    365486   13048     44368
7    2011   중랑구    428672    423706    4966     43745
8    2011   성북구    494422    485171    9251     55213
9    2011   강북구    348740    345054    3686     43507
10   2011   도봉구    367949    365573    2376     39810
11   2011   노원구    608062    603930    4132     58642
12   2011   은평구    498350    493634    4716     56595
13   2011  서대문구    324529    314852    9677     40041
14   2011   마포구    398627    389493    9134     42610
15   2011   양천구    505605    500210    5395     41110
16   2011   강서구    575846    569072    6774     52314
17   2011   구로구    458908    427468   31440     41992
18   2011   금천구    264256    243438   20818     25089
19   2011  영등포구    439555    397443   42112     43891
20   2011   동작구    413658    401408   12250     44287
21   2011   관악구    546350    526397   19953     53022
22   2011   서초구    439012    433564    5448     39035
23   2011   강남구    573003    565710    7293     47187
24   2011   송파구    690466    682209    8257     55456
25   2011   강동구    500516    495138    5378     42256
26   2012    합계  10442426  10195318  247108   1110995
27   2012   종로구    173148    165207    7941     23868
28   2012    중구    140807    133360    7447     18875
29   2012   용산구    255294    243232   12062     33027
..    ...   ...       ...       ...     ...       ...
178  2017   서초구    445401    441102    4299     53205
179  2017   강남구    561052    556164    4888     65060
180  2017   송파구    671173    664496    6677     76582
181  2017   강동구    440359    436223    4136     56161
182  2018    합계  10049607   9765623  283984   1416131
183  2018   종로구    163026    153065    9961     26742
184  2018    중구    135633    125725    9908     22005
185  2018   용산구    245090    228999   16091     37640
186  2018   성동구    316463    308221    8242     42767
187  2018   광진구    371063    355559   15504     45619
188  2018  동대문구    364338    348052   16286     57165
189  2018   중랑구    408147    403209    4938     61830
190  2018   성북구    447687    435868   11819     67782
191  2018   강북구    322915    319164    3751     58196
192  2018   도봉구    341649    339413    2236     55964
193  2018   노원구    548160    543752    4408     77096
194  2018   은평구    487666    483197    4469     77420
195  2018  서대문구    323080    310313   12767     50456
196  2018   마포구    386359    375077   11282     50833
197  2018   양천구    468145    464185    3960     58045
198  2018   강서구    603611    596949    6662     79660
199  2018   구로구    438486    404497   33989     61801
200  2018   금천구    254021    233917   20104     35739
201  2018  영등포구    403600    367778   35822     55673
202  2018   동작구    409385    396203   13182     59479
203  2018   관악구    520040    501957   18083     72249
204  2018   서초구    438163    433951    4212     54751
205  2018   강남구    547453    542364    5089     67085
206  2018   송파구    673507    666635    6872     81364
207  2018   강동구    431920    427573    4347     58770

[208 rows x 6 columns]

In [17]:
# 컬럼명을 의미있게 조정
# 계 ~ ...고령자 -> 인구수, 한국인, 외국인, 고령자
s_pop.rename(columns={s_pop.columns[2] : '인구수',
                      s_pop.columns[3] : '한국인',
                      s_pop.columns[4] : '외국인',
                      s_pop.columns[5] : '고령자'}, inplace = True)

In [18]:
# 변경 확인
s_pop.head(2)

     기간  자치구       인구수       한국인     외국인      고령자
0  2011   합계  10528774  10249679  279095  1049425
1  2011  종로구    177419    168382    9037    22939

## pandas 기초 학습
<a href = 'http://localhost:8889/notebooks/pandas/basic/pandas_기초.ipynb'>이동하기</a>